<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profession</title>
    <link rel="stylesheet" href="/static/css/style.css">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>

        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        <h2>Register form</h2>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>